#service {
  height: 100vh;
  display: grid;
  margin: 0px;
  padding: 0px;  
}
.section__wrapper {
    padding-top: 30px;
}

.service__content {
    display: flex;
    justify-content: center;
    place-items: center;
}

#cards {
  display: grid;
  margin-top: 80px;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  padding: 1em 0em;
  place-self: center;
  position: relative;
  width: calc(100% - 2em);
  z-index: 2;
}

.card {
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 240px;
  position: relative;
}

.card:hover:before {
  opacity: 1;
}

.card:before {
  border-radius: inherit;
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

.card__content {
  border-radius: inherit;
  display: grid;
  inset: 1px;
  padding: 1em;
  position: absolute;
}

.card__icon {
  /* height: 130px; */
  width: calc(30% - 0px);
  position: absolute;
  padding-bottom: 20px;
}

.card__icon {
  /* color: rgba(255, 255, 255, 0.25); */
  place-self: center;
  transition: transform 250ms, opacity 250ms;
}

.card__text {
  place-self: center;
  padding-top: 160px;
}

/* ANIMATION DELAY START*/

.card:nth-child(2) {
    transition-delay: 400ms ;
}
.card:nth-child(3) {
    transition-delay: 500ms ;
}

/* ANIMATION DELAY END */

@media screen and (max-width: 1100px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
      }
}

@media screen and (max-width: 760px) {
  .title__us {
    font-size: 45px;
  }
}

@media screen and (max-width: 600px) {
    #cards {
        grid-template-columns: 1fr;
        max-width: 300px;
      }
}

@media screen and (max-width: 430px) {
  .title__us {
    font-size: 30px;
  }
}
