#Landing {
  height: 100vh;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
  height: 700px;
  border-radius: 20px;
  display: flex;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  background-color: #242424;
}

.banner__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
  color: #fff;
}

.banner__contact {
  color: white;
}

.banner__about {
  filter: brightness(90%);
}

.banner__title {
  font-size: 38px;
}

.banner__sub-title {
  margin: 12px 0 24px 0;
  font-size: 18px;
}

h2 {
  display: block;
  margin-block-start: -4.33em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* FORM */

/* label {
  font-size: 14px;
  font-weight: bold;
} */

input,
textarea {
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: #242424;
  outline: none;
  border-radius: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
  padding-left: 20px;
}

.form__item {
  position: relative;
  margin-bottom: 2px;
}

.form__submit {
  position: absolute;
  background-color: #0091ff;
  border: 2px solid #0091ff;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  width: 80%;
  height: 30px;
  max-width: 100px;
  /* padding: 2px 24px; */
  font-size: 16px;
  transition: all 300ms ease;
  /* margin-left: 62%; */
  margin-top: 4px;
  margin-right: 4px;
  top: 0;
  right: 0;
  bottom: 0;
}

.form__submit:hover {
  background-color: #242424;
  border: 2px solid #242424;
}
