#about {
  height: 100vh;
}

div {
  display: block;
}

.section__title {
  display: flex;
  justify-content: center;
}

.title__us {
  font-weight: 700;
  color: #242424;
  font-size: 60px;
  background: -webkit-linear-gradient(#242424, #0091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 430px) {
  .title__us {
    font-size: 30px;
  }
}
