#about {
  height: 100vh;
  overflow-x: hidden;
}

div {
  display: block;
}

.section__title {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.title__us {
  font-weight: 700;
  color: #0091ff;
  font-size: 50px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.about__img {
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 200px;
  width: 600px
}

.team__img {
  max-height: none;
  max-width: 100%;
  width: 500px;
  background-color: transparent;
}

/* img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
} */

.about__desc {
  width: 600px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.heading__3 {
  max-width: 33.75rem;
  margin-top: 0rem;
  font-size: 32px;
}

.p.r__space {
  padding-right: 3.75rem;
  margin-top: 20px;
}

.bold__text {
  font-weight: 700;
}

strong {
  font-size: 20px;
  font-weight: 700;
}

.list {
  color: #0a0e09;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 600;
  margin: 20px;
}

.w__list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

/* ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
} */

.list__item {
  margin-bottom: .625rem;
  padding-left: .3125rem;
  /* margin-top: 10px; */
  /* background-image: url(https://uploads-ssl.webflow.com/63b46f6309528e69d8404ae1/63b56eaaf6d39022f4333aac_Frame%207.svg); */
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.check__img {
  padding-right: 10px;
  width: 27px;
}

.fa-solid {
  background-color: red;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* JAVASCRIPT ANIMATION  */

.hidden {
  opacity: 0;
  transition: all 200ms;
}

.show {
  opacity: 1;
}

/* JAVASCRIPT ANIMATION END */

@media screen and (max-width: 1000px) {
  .about__content {
    display: flex;
    justify-content: center;
    margin-right: 0rem;
    margin-left: 0rem;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about__img {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .team__img {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 420px;
    padding-bottom: 20px;
    /* margin-right: 0px; */
    /* margin-left: -35px; */
  }

  .about__desc {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    padding-right: 0rem;
    margin-left: 10%;
  }

/* .heading__3 {
  display: flex;
  place-content: center;
  justify-content: center;
} */

  .p.r__space {
    padding-right: 0rem;
  }

  .u__list {
    margin-top: 5%;
    margin-left: -20%;
  }

}

@media screen and (max-width: 760px) {
  .team__img {
    padding-top: 50px;
    width: 350px;
  }

  .about__desc {
    width: 80%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  
  .heading__3 {
    margin-top: 0rem;
    font-size: 28px;
  }
  
  .p.r__space {
    padding-right: 3.75rem;
    margin-top: 20px;
  }

  .list {
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.688rem;
  }

  .list__item {
    background-size: 24px 24px;
  }
}

@media screen and (max-width: 430px) {
  .title__us {
    font-size: 30px;
  }

  .about__content {
    display: flex;
    justify-content: center;
    place-items: center;
  }

  .about__img {
    /* margin: 24px 18px; */
    max-width: 430px;
    width: 120%;
  }

  .team__img {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 200px;
  }

  .about__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px 18px;
  }

  .heading__3 {
    display: flex;
    font-size: 1.375rem;
    line-height: 2.063rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.688rem;
    padding-left: 20px;
  }

  .list__item {
    background-size: 24px 24px;
    margin-top: 18px;
  }
}
