* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 430px) {
  * {
    overflow-x: hidden;
  }
}
