#personal_logo {
  max-width: 130px;
  height: 70px;
  /* -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1); */
  font-weight: 800;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}

.nav__link {
  display: flex;
  align-items: center;
  margin: 0 12px;
  padding: 0 16px;
}

.nav__link--list {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  /* color: #0a0e09; */
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor:hover {
  color: #242424;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0%;
  background-color: #242424;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.contact__me {
  /* margin-left: 1.25rem; */
  padding: 0.875rem 1.875rem;
  border-radius: 2.5rem;
  background-color: #0a0e09;
  color: #ffff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.contact__me:hover {
  line-height: 1.1rem;
  font-size: 1.1rem;
  transition: all 200ms ease-in-out;
}

/* ------------------ MEDIA ---------------- */
@media screen and (max-width: 700px) {
  .nav {
    width: 20%;
  }

  .nav__link:first-child {
    display: none;
  }
  .nav__link:nth-child(2) {
    display: none;
  }

  #personal_logo {
    margin-left: -1px;
  }
}

@media screen and (max-width: 460px) {
  .contact__me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 1.875rem;
    padding-left: 30%;
  }

  .nav__link--list {
    margin-right: 0;
  }
}

nav {
  width: 100%;
}

#personal_logo {
  padding-left: 30px;
  font-size: 20px;
}